body{
  margin: 0px;
  background-color: #132549;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

img{
  width:150px;
  height: 150px;
}

h1{
    color: white;
}

table{
  background-color: #132549;
  width: 350px;
  height: 350px;
  margin: auto;
  border-collapse: collapse;
  border-style: hidden;
  border-spacing: 0px;
} 

table td {
  border: 3px solid#06DD28;
  padding: 1.5rem 3rem;
}

.players{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.players h1{
  padding: 25px;    
}

#player1ico, #player2ico{
    padding: 0px 20px;
}
