body{
  margin: 0px;
  background-color: #132549;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

img{
  width:150px;
  height: 150px;
}

h1{
    color: white;
}

table{
  background-color: #132549;
  width: 350px;
  height: 350px;
  margin: auto;
  border-collapse: collapse;
  border-style: hidden;
  border-spacing: 0px;
} 

table td {
  border: 3px solid#06DD28;
  padding: 1.5rem 3rem;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* #player1-ico, #player2-ico{
  display: flex;
  background-color: green;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#pl2-displ{
    display: inline;

} */

#player1, #player2{
  display: flex;
  flex-direction: column;
}

.score{
    display: flex;
    flex-direction: row;
}

.score h1{
    padding: 0px 10px;
}

.pl-name{
  display: flex;
  flex-direction: row;
}

.pl-name h1{
  padding: 0px 10px;
  background-color: green; 
  border-radius: 10px; 
}

.symbol{
    background-color: aqua !important;
    border-radius: 50% !important;
}